{% extends 'base.html' %}
{% block title %}post_all.html{% endblock %}
{% block content %}
{% csrf_token %}
{% load humanize %}

<style>
[class*="col-sm"] {
	padding: 8px;
	border: 1px solid gray;
	text-align: center;
}
</style>

<h1>Water</h1>
<br>

<div class="row">
	<div class="col-mod-8 m-3 mr-5">
		<div>
			<h3>{{user}}님의 수분 섭취</h3>
			
			<h5 id="today"><span>{{today|date:"Y-m-d H:i"}} 기준 </span> <br>
			<span id="today_amount">{{today_amount|intcomma}} / {{object.goal|intcomma}} (ml)</span> <span id="percent"></span></h5>
			<br><br>
		</div>
		<div>
			<h3>추가하기</h3>
			<br>
			<input id="add_water_180" name="add_water" type="button" class="btn btn-outline-primary" onclick="asd(180);" value="180ml">
			<input id="add_water_330" name="add_water" type="button" class="btn btn-outline-primary" onclick="asd(330);" value="330ml">
			<input id="add_water_500" name="add_water" type="button" class="btn btn-outline-primary" onclick="asd(500);" value="500ml">
			<input id="amount" name="amount" type="input" class="control mr-2 ml-5" value="">
			<input id="btn_submit" name="btn_submit" type="button" class="btn btn-outline-secondary" onclick="add_water();" value="추가">
		</div>
	</div>	
	<div id="history" class="col-mod-4 col-sm-4 m-3 ml-5" style="overflow:auto; width:500px; height:450px;">
	<input class="datepicker"  readonly>
	<input id="get_history" name="get_history" type="button" class="btn btn-outline-btn-outline-light" onclick="get_history();" value="GET">
		<div>
			{% include "history.html" %}
		</div>
		
	</div>
</div>

<div class="row">
	<div class="col-mod-12">
		<div id="chart_div">
			{% include "today_chart.html" %}
		</div>
	</div>
</div>

<div class="row">
	<div class="col-mod-12">
		<div id="chart_div_week">
			{% include "week_chart.html" %}
		</div>
	</div>
</div>

{% endblock %}

{% block extra-script %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link
	rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
/>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
	$(function () {
	$("#datepicker").datepicker({ dateFormat: "yy-mm-dd" });
	});
</script>

<script>
	// using jQuery
	function getCookie(name) {
		var cookieValue = null;
		if (document.cookie && document.cookie != '') {
			var cookies = document.cookie.split(';');
			for (var i = 0; i < cookies.length; i++) {
				var cookie = jQuery.trim(cookies[i]);
				// Does this cookie string begin with the name we want?
				if (cookie.substring(0, name.length + 1) == (name + '=')) {
					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					break;
				}
			}
		}
		return cookieValue;
	}
	function csrfSafeMethod(method) {
	// these HTTP methods do not require CSRF protection
		return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	}
	$(document).ready(function() {
		var csrftoken = getCookie('csrftoken');
		$.ajaxSetup({
			beforeSend: function(xhr, settings) {
				if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
					xhr.setRequestHeader("X-CSRFToken", csrftoken);
				}
			}
		});
	});
</script>

<script>
	var click_flag = false;

	function target_remove(event){
		user = {{object.user.id}}
		id = event.target.id
		$.ajax({
			url:"{% url 'water:water_remove' %}",
			type:'POST',
			data:{"id":id},
			dataType: "json",
			success: function(response){
				$("#today_amount").html( response.result.today_amount.toLocaleString('ko-KR') + "ml / "+ 
					response.result.object["goal"].toLocaleString('ko-KR') + " (ml)")
				$("#amount").val("")
				$("#percent").html(" - "+parseInt((parseInt(response.result.today_amount) / parseInt(response.result.object["goal"]) ) * 100)+"%")
				$("#chart_div").html(response.render_chart_today)
				$("#chart_div_week").html(response.render_chart_week)
				$(event.target).parent().remove()
			}
		})
	}

	$(function(){
		$("input[name=btn_remove]").click(target_remove)
	})

	$(function(){
		$("input[name=add_water]").dblclick(function(){
			user = {{user.id}}
			amount = $("#amount").val()
			$.ajax({
				url:"{% url 'water:water_append' %}",
				type:'POST',
				data:{"user":user, "amount":amount},
				dataType: "json",
				success: function(response){
					$("#today_amount").html( response.result.today_amount.toLocaleString('ko-KR') + "ml / "+ 
					response.result.object["goal"].toLocaleString('ko-KR') + " (ml)")
					$("#amount").val("")
					$("#history").html(response.render_history)
					$("#chart_div").html(response.render_chart_today)
					$("#chart_div_week").html(response.render_chart_week)
					$("#percent").html(" - "+parseInt((parseInt(response.result.today_amount) / parseInt(response.result.object["goal"]) ) * 100)+"%")
					$("input[name=btn_remove]").off("click");
					$("input[name=btn_remove]").on("click", target_remove)
				}
			})
		})
	})

	function get_history(){
		var date = $("#get_history").val()
		
	}
	
    function asd(amount){
		$("#amount").val(amount)
	}

	function add_water(){
		if($("#amount").val()==""){
			alert("값을 넣어주세요.")
		}
		user = {{user.id}}
		amount = $("#amount").val()
		$.ajax({
            url:"{% url 'water:water_append' %}",
            type:'POST',
            data:{"user":user, "amount":amount},
			dataType: "json",
			success: function(response){
					$("#today_amount").html( response.result.today_amount.toLocaleString('ko-KR') + "ml / "+ 
					response.result.object["goal"].toLocaleString('ko-KR') + " (ml)")
					$("#amount").val("")
					$("#history").html(response.render_history)
					$("#chart_div").html(response.render_chart_today)
					$("#chart_div_week").html(response.render_chart_week)
					$("#percent").html(" - "+parseInt((parseInt(response.result.today_amount) / parseInt(response.result.object["goal"]) ) * 100)+"%")
					$("input[name=btn_remove]").off("click");
					$("input[name=btn_remove]").on("click", target_remove)
			}
        })
	}

	$("#percent").html(" - "+parseInt(({{today_amount}} / {{object.goal}} ) * 100)+"%")

	$(function() {
		$( ".datepicker" ).datepicker({
		changeMonth: true,
		changeYear: true,
		yearRange: "1900:2012",
		// You can put more options here.

		});
	});
</script>

{% endblock %}
